
table {
  background-color: lightgray;
  width: 80%;
  height: 72vw;
  padding:0px;
  /* border: 5px solid black; */
}

tr {
  display: flex;
  flex-direction: row;
  content:fit-content;
  background-color: lightgray;
  width: 100%;
  height: 12vw;
  outline: 1px solid rgb(65, 63, 63);
}

td {
  outline: 1px solid rgb(65, 63, 63);
  background-color: whitesmoke;
  width: 12vw;
  height: 12vw;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 12vw;
  /* margin: 2px; */
  padding: 0;
  /* outline: 4px solid black; */
}

.specialPiecesShield {
  /* outline: 4px solid black; */
  background-image: url("circleImageShieldBlue.png");
  background-size: contain;
   width:8vw;
  height:8vw;
   margin-left:1vw;
  margin-right:1vw;
  display:inline-block;
  border-radius: 50%;
}

.specialPiecesSkull {
  /* outline: 4px solid black; */
  background-image: url("circleImageSkullUDBlue.png");
  background-size: contain;
   width:8vw;
  height:8vw;
  margin-left:1vw;
  margin-right:1vw;
  display:inline-block;
  border-radius: 50%;
}

section.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.userControls {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  height: 29vw;
  margin:0;
  background-image: linear-gradient(to right, rgb(196, 195, 195), rgb(255, 255, 255), rgb(196, 195, 195));
  outline: 1vw solid rgb(41, 38, 38);
  width: 86%;
  padding:0;
}

div.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(41, 38, 38), rgb(95, 84, 84));
  /* align-items: space-between; */
  height: 10vw;
  width:88%;
}

.player1Name {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  text-align:center;
  margin:2vw;
}

.player2Name {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  text-align:center;
  margin:2vw;
}

.bannerGameTitle {
  color:white;
}

.colorButtons {
  width:80%;
  height:auto;
  /* display:block; */
  margin-left:auto;
  margin-right:auto;
  /* background-color: black; */
}

.colorCircleRed {
  width:15%;
  height:4.8vw;
  margin-left:3%;
  margin-right:3%;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(248, 142, 142), rgb(234, 10, 10));
}

.colorChipRed {
  width:12vw;
  height:100%;
  display:inline-block;
  background-image: linear-gradient(to right, rgb(248, 142, 142), rgb(234, 10, 10));
}

.colorCircleRedSmall {
  width:3vw;
  height:3vw;
  margin-left:1.5vw;
  margin-right:.25vw;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(248, 142, 142), rgb(234, 10, 10));
}

.colorCirclePurple {
  width:15%;
  height:4.8vw;
  margin-left:3%;
  margin-right:3%;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(208, 58, 208), purple);
}

.colorChipPurple {
   width:12vw;
  height:100%;
  display:inline-block;
  background-image: linear-gradient(to right, rgb(208, 58, 208), purple);
}

.colorCirclePurpleSmall {
  width:3vw;
  height:3vw;
  margin-left:2vw;
  margin-right:.25vw;
  margin-bottom:0;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(208, 58, 208), purple);
}

.colorCircleBlue {
  width:15%;
  height:4.8vw;
  margin-left:3%;
  margin-right:3%;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(112, 112, 250), blue);
  /* outline: 3px solid black; */
}

.colorChipBlue {
  width:12vw;
  height:100%;
  display:inline-block;
  background-image: linear-gradient(to right, rgb(112, 112, 250), blue);
}

.colorCircleBlueSmall {
  width:3vw;
  height:3vw;
  margin-left:2vw;
  margin-right:.25vw;
  margin-bottom:0;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(112, 112, 250), blue);
}

.colorCircleGreen {
  width:15%;
  height:4.8vw;
  margin-left:3%;
  margin-right:3%;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(39, 231, 39),green );
}

.colorChipGreen {
  width:12vw;
  height:100%;
  display:inline-block;
  background-image: linear-gradient(to right, rgb(39, 231, 39),green );
}

.colorCircleGreenSmall {
  width:3vw;
  height:3vw;
  margin-left:2vw;
  margin-right:.25vw;
  margin-bottom:0;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(39, 231, 39),green );
}



div.controls {
  display:flex;
  flex-direction:row;
}



img.dropImage {
  display: block;
  width: 100%;
  height: 4vw;
  margin: 0;
  padding: 0;
  /* outline: 4px solid black; */
}

.playerSections {
  width:48%;
  /* margin-left:2%; */
  /* margin-left:3%;
  margin-right:2%; */
  margin-top:4%;
  margin-bottom:20vw;
  /* margin-bottom:2%; */
  height:75%;
  /* background-color: aqua; */
  display:inline-block;
}

.startGame {
  background-color: gold;
  height: 5vw;
  margin-top:2vw;
  margin-right:2vw;
  font-weight:bold;
}

.input {
  display:inline-block;
  width: 45%;
  height: 3vw;
  margin-left:10%;
}

.submitButton {
  font-size:2vw;
  width:25%;
  /* height: 3vw; */
  margin-bottom:3vw;
  margin-right:10%;
  background-color: black;
  color: white
}

.userNameField {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  height:auto;
}

/* .turnIndicator {
  
} */

.turnContainer {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  margin-bottom:0;
  width:100%;
  height:2vw;
  /* background-color:rgb(43, 255, 0); */
}

table.dropClassTable {
  background-color: lightgray;
  width: 87%;
  height: 5vw;
  outline: 1px solid black;
}


td.dropClassCell {
  outline: 4px solid white(34, 33, 33);
  background-image: linear-gradient(to right, gold, yellow, gold);
  width: 14.3%;
  height: 100%;
  margin: 0;
  padding-top: 1.5vw;
  color:black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align:center;
  font-size:2vw;
  font-weight:bold;
  cursor: pointer;
}

tr.dropClassRow {
  background-color: lightgray;
  width: 100%;
  height:6vw;
  outline: 2px solid rgb(34, 33, 33);
  /* display:inline-block; */
}
