
table {
  background-color: lightgray;
  width: 78%;
  height: 60vw;
  outline: 4px solid black;
}

tr {
  background-color: lightgray;
  width: 100%;
  outline: 2px solid rgb(34, 33, 33);
}

td {
  outline: 4px solid rgb(34, 33, 33);
  background-color: whitesmoke;
  width: 14%;
  height: 10vw;
  margin: 0;
  padding: 0;
}

td.test {
  outline: 4px solid black;
  background-image: url("circleImageShieldBlue.png");
  background-size: contain;
  width: 14%;
  height: 10vw;
  margin: 0;
  padding: 0;
}

section.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.userControls {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  height: 25vw;
  background-image: linear-gradient(to right, rgb(196, 195, 195), rgb(255, 255, 255), rgb(196, 195, 195));
  outline: 1vw solid rgb(41, 38, 38);
  width: 77%;
  padding:0;
}

div.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(41, 38, 38), rgb(95, 84, 84));
  /* align-items: space-between; */
  height: 10vw;
  width:80%;
}

.player1Name {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  text-align:center;
  margin:2.5vw;
}

.player2Name {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  text-align:center;
  margin:2.5vw;
}

.bannerGameTitle {
  color:white;
}

.colorButtons {
  width:80%;
  height:auto;
  /* display:block; */
  margin-left:auto;
  margin-right:auto;
  /* background-color: black; */
}

.colorCircleRed {
  width:5vw;
  height:5vw;
  margin-left:.25vw;
  margin-right:.25vw;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(248, 142, 142), rgb(234, 10, 10));
}

.colorCirclePurple {
  width:5vw;
  height:5vw;
  margin-left:.25vw;
  margin-right:.25vw;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(208, 58, 208), purple);
}

.colorCircleBlue {
  width:5vw;
  height:5vw;
  margin-left:.25vw;
  margin-right:.25vw;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(112, 112, 250), blue);
  /* outline: 3px solid black; */
}

.colorCircleGreen {
  width:5vw;
  height:5vw;
  margin-left:.25vw;
  margin-right:.25vw;
  display:inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(39, 231, 39),green );
}

div.controls {
  display:flex;
  flex-direction:row;
}

img {
  display: block;
  width: 100%;
  height: 10vw;
  margin: 0;
  padding: 0;
  /* outline: 4px solid black; */
}

.playerSections {
  width:45%;
  margin-left:2%;
  margin-right:2%;
    margin-top:2%;
  margin-bottom:2%;
  height:20vw;
  /* background-color: aqua; */
  display:inline-block;
}

.startGame {
  background-color: gold;
}


